.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

.header {
    position: fixed;
    top: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.inputGroup {
    margin-bottom: 1rem;
    border: 1px solid #4d4d4d;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .8rem;
}

.innerInputGroup {
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
}

.inputGroup i {
    color: #777777;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-right: .5rem;
}

.inputGroup img {
    width: 2rem;
    height: 2rem;
}

.input {
    background: transparent;
    width: 100%;
    color: #000;
    font-size: 0.9rem;
    border: none;
}

.input:focus {
    border: none;
    outline: none;
}

.updateBtn {
    width: 100%;
    padding: 0.8rem;
    background: rgba(26, 95, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(233, 68, 75, 0.25);
    color: #fff;
    font-size: .9rem;
    border: none;
    border-radius: .8rem;
    cursor: pointer;
    margin-top: 1rem;
}

.logoutBtn {
    color: red;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    padding: .5rem 1rem;
}

.logoutBtn span {
    margin-left: .5rem;
}

.logoutBtn:hover {
    cursor: pointer;
    border: 1px solid;
    border-radius: .5rem;
}


.message {
    color: green;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
}

/* Responsive styles for screens 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1rem;
    height: auto;
  }

  .header {
    position: static;
    margin: 1rem 0 2rem;
    text-align: center;
    font-size: 1.2rem;
  }

  .formContainer {
    width: calc(100% - 2rem);
    padding: 0 1rem;
  }

  .inputGroup {
    border: 1px solid #4d4d4d;
    border-radius: 0.5rem;
  }
  
  .innerInputGroup {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.2rem;
  }

  .innerInputGroup input {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

  .updateBtn {
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1.5rem;
  }

  .message {
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: center;
  }

  .logoutBtn {
    position: static;
    margin: 2rem auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: calc(100% - 4rem);
    padding: 0.8rem;
    border-radius: 0.5rem;
    text-align: center;
  }

  .logoutBtn span {
    margin-left: 0.5rem;
  }
}
